@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Kumbh+Sans:wght@400;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.homeBT {
  @apply
  bg-l2 rounded-dd hover:bg-bth cursor-pointer
  text-bt hover:text-l1 text-center w-fit mx-auto
  px-5 py-2 font-kan text-xl md:text-2xl 
}

.carBT {
  @apply
  fixed bottom-0 transform
 -translate-y-1/2 border
  hover:bg-white/50 text-2xl m-auto h-12 w-12 px-2
  rounded-full shadow-md items-center grid text-center
  fill-white/50 hover:fill-bt backdrop-blur-lg
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.radio {
  @apply 
  h-14 w-14
  border-bth border-4
}

.radio:checked {
  @apply
  bg-l1
  animate-pulse
}